.advantage {
    background-image: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), url(../images/advantage/advantage-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &__inner {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        padding-top: 50px;

        @include mobile {
            padding-top: 20px;
            padding-bottom: 30px;
        }
    }
}