.checkbox {
    flex-wrap: wrap;
    flex-basis: 100%;
    font-size: 12px;
    align-items: center;

    &__control {
        width: 20px;
        height: 20px;
        margin: 0;
        border-color: var(--color-dark);
    }
}

.checkbox:not(:last-child) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    column-gap: 10px;
}