.company {
    position: relative;

    &--top {
        padding-top: 30px;

        @include mobile {
            padding-top: 20px;
        }
    }

    &__inner {
        min-width: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 20px;

        @include mobile {
            flex-direction: column;
            row-gap: 20px;
        }
    }

    &__company-slider-inner {
        max-width: 488px;

        @include tablet {
            max-width: 400px;
        }

        @include mobile-s {
            max-width: 335px;
        }
    }

    &__image {
        position: absolute;
        top: 70px;
        left: -88px;

        @include desktop-l {
            display: none;
        }
    }
}