.company-slider {
    position: relative;
}

.company-slider .slick-slider {
    width: 100%;
}

.company-slider .slick-slide {
    width: 100%;
    height: auto;
}

.company-slider .slick-slide img {
    display: block;
    max-width: 100%;
    height: auto;
}

.company-slider .slick-dots {
    position: absolute;
    top: 20px;
    right: 15px;
}
