.contact-info {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    row-gap: 20px;

    &__inner {
        display: grid;
        grid-template-columns: auto 3fr;
        flex-wrap: wrap;

        @include mobile {
            display: flex;
            flex-direction: column;
        }
    }

    &__info-inner {
        padding: 20px;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        column-gap: 10px;

        @include mobile {
            flex-direction: row;
            flex-wrap: wrap;
        }
    }

    &__info {
        background-color: var(--color-light-blue);

        &-block {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            row-gap: 10px;

            @include mobile {
                row-gap: 5px;
            }
        }

        &-title {
            @include fluid-text(16, 14);
            color: rgb(21, 21, 21, 0.7);
            line-height: 24px;
        }

        &-description {
            @include fluid-text(18, 16);
            color: #151515;
            font-weight: 450;
            line-height: 24px;
        }

        &-link {
            @include fluid-text(18, 16);
            color: #151515;
            font-weight: 450;
            line-height: 24px;
        }

        &-button {
            @include flex-center(true);

            height: 32px;
            padding-inline: 10px;
            @include fluid-text (14, 12);
            background-color: var(--color-blue);
            color: var(--color-light);
            border: var(--border);
            border-radius: var(--border-radius);
            cursor: pointer;

            @include mobile {
                height: 26px;
            }
        }

        &-button::before {
            content: url(../images/contact/map-button.svg);
            margin-right: 10px;
            width: 18px;
            height: 11px;
            margin-bottom: 8px;

            @include mobile {
                margin-right: 5px;
                width: 16px;
                height: 10px;
            }
        }
    }

    &__map {
        position: relative;
        background-image: url(../images/contact/map-bg.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        @include mobile {
            height: 335px;
        }
    }
}


.selector-day {
    &__today {
        color: #345E9F;
        padding-right: 10px;
        font-weight: 500;

        @include mobile {
            padding-right: 4px;
        }
    }

    &__work {
        padding-right: 20px;

        @include mobile {
            padding-right: 14px;
        }
    }

    &__work-hours {
        padding-left: 20px;

        @include mobile {
            padding-left: 14px;
        }
    }

    &__dropdown-menu {
        position: absolute;
        left: 100px;
        top: -10px;
        display: none;
        list-style: none;
        border-radius: var(--border-radius);
        background-color: var(--color-light);
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
        z-index: 100;
        transition: opacity 0.2s ease;
    }

    &__dropdown-image:hover .dropdown-menu {
        display: block;
    }

    &__dropdown-menu li {
        padding: 10px;
    }

    &__dropdown-menu li:hover {
        background-color: #f2f2f2;
    }

    &__dropdown-menu li:first-child {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    &__dropdown-menu li:last-child {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}

.map {
    &__selector {
        font-family: var(--font-family-accent);
        position: absolute;
        top: 20px;
        right: 20px;
        background-color: #FFFFFF;
        border-radius: 5px;
        padding: 10px 20px;
        @include fluid-text(16, 14);
        letter-spacing: -0.3px;

        @include mobile {
            left: 20px;
        }
    }

    &__selector-day {
        display: inline-block;
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        line-height: 20px;
        cursor: pointer;
        color: rgb(45, 45, 45, 0.7);
        @include fluid-text(16, 14);
        font-weight: 400;
    }

    &__selector-adress {
        padding-top: 10px;
        text-align: center;
        @include fluid-text(18, 16);
        line-height: 24px;

        @include mobile {
            text-align: left;
        }
    }
}

