.field {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-block: 0;
  @include fluid-text(16, 14);

  &__errors {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    font-size: 12px;
    color: rgb(181, 2, 2, 0.5);
  }

  &__errors:empty {
    display: none;
  }

  &__error {
    flex-basis: 100%
  }

  input,
  button,
  fieldset,
  select,
  textarea {
    border: var(--border);
    border-radius: var(--border-radius);
    background-color: var(--color-light-alt);
    transition-duration: 0.2s;
  }

  input,
  textarea {
    padding: 10px;
    outline: none;
  }

  textarea {
    height: 70px;
  }

  input::placeholder,
  textarea::placeholder {
    color: var(--color-dark);
    font-weight: 400;
    @include fluid-text(16, 14);
    font-family: var(--font-family-base);
  }

  input.error {
    border: 1px solid rgb(181, 2, 2, 0.5);
  }
}