
.map {
    &__selector {
        font-family: var(--font-family-accent);
        position: absolute;
        top: 20px;
        right: 20px;
        background-color: #FFFFFF;
        border-radius: 5px;
        padding: 10px 20px;
        @include fluid-text(16, 14);
        letter-spacing: -0.3px;

        @include mobile {
            left: 20px;
        }
    }

    &__selector-day {
        display: inline-block;
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        line-height: 20px;
        cursor: pointer;
        color: rgb(45, 45, 45, 0.7);
        @include fluid-text(16, 14);
        font-weight: 400;
    }

    &__selector-adress {
        padding-top: 10px;
        text-align: center;
        @include fluid-text(18, 16);
        line-height: 24px;

        @include mobile {
            text-align: left;
        }
    }
}