.slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 10;
    font-size: 0;
    width: 30px;
    height: 30px;
    border-radius: var(--border-radius-small);
    border: var(--border);
}

.slick-arrow.slick-prev {
    background: url(../images/arrow/arrow-left.svg) 0 0 no-repeat;
    background-color: rgb(255, 255, 255, 0.5);
    background-position: center center;
    left: 14px;
}

.slick-arrow.slick-next {
    background: url(../images/arrow/arrow-prev.svg) 0 0 no-repeat;
    background-color: rgb(255, 255, 255, 0.5);
    background-position: center center;
    right: 14px;
}

