.standard {

    &__inner {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }

    &__slider {
        position: relative;

        &-slide {
            display: flex;
            justify-content: center;
        }

        &-slide img {
            object-fit: cover;
            width: 100%;
            max-height: 470px;
            max-width: 335px;
        }
    }
}

.standard__slider .slick-arrow.slick-prev {
    background: url(../images/arrow/arrow-prev-light.svg) 0 0 no-repeat;
    background-color: var(--color-blue);
    background-position: center center;
    left: -15px;
}

.standard__slider .slick-arrow.slick-next {
    background: url(../images/arrow/arrow-next-light.svg) 0 0 no-repeat;
    background-color: var(--color-blue);
    background-position: center center;
    right: -15px;
}