.tabs {
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    &__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 35px;
        row-gap: 20px;
    }
    
    &__item {
        color: rgb(0, 0, 0, 0.6);
        padding-bottom: 5px;
    }
}

.tabs li.ui-state-active {
    color: var(--color-dark);
    border-bottom: 1px solid var(--color-dark);
    font-weight: 600;
}

